<br />
<br />
<font id='titulo_form'>Cadastro de um novo cliente:</font>
<br />
<br />
<br />
<div id='dados' align='center'>
	<br />
	<%= render 'form' %>

	<%= link_to 'Voltar para login', "/autenticacao" %>
	<br />
	<br />
</div>