<br />
<br />
<font id='titulo_form'>Edição de suas informações:</font>
<br />
<br />
<br />
<div id='dados' align='center'>
	<br />
	<%= render 'form' %>

	<%= link_to 'Voltar para meus dados', "/dados_admin" %>
	<br />
	<br />
</div>
