<br />
<br />
<font id='titulo_form'>Altere a quantidade desejada:</font>
<br />
<br />
<br />
<div id='dados' align='center'>
	<br />
	<%= render 'form' %>

	<%= link_to 'Voltar para pedidos', "/pedidos" %>
	<br />
	<br />
</div>
