<br />
<br />
<font id='titulo_form'>Edição dos dados deste produto:</font>
<br />
<br />
<br />
<div id='dados' align='center'>
	<br />
	<%= render 'form' %>

	<%= link_to 'Voltar para todos os produtos', "/produtos" %>
	<br />
	<br />
</div>
