<br />
<br />
<font id='titulo_form'>Cadastro de um novo produto:</font>
<br />
<br />
<br />
<div id='dados' align='center'>
	<br />
	<%= render 'form' %>

	<%= link_to 'Voltar para produtos', "/produtos" %>
	<br />
	<br />
</div>