<br />
<br />
<font id='titulo_form'>Atualizar status do pedido do cliente:</font>
<br />
<br />
<br />
<div id='dados' align='center'>
	<br />
	<%= render 'form' %>

	<%= link_to 'Página inicial', "/" %>
	<br />
	<br />
</div>
