/* Place all the styles related to the indices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */

#titulo {color: #98FB98; height: 30px; text-align:center; font-family:courier; font-style: italic; font-size: 14pt; 
background: #3CB371; width:500px; border-right: 4px solid #2E8B57; border-bottom: 4px solid #2E8B57; padding: 5px 5px;}

#nome_tipo_prod{text-align:center; font-family:Times New Roman, cursive; background:#FFF5EE; border:1px solid #800; width:150px;}

#tipo_prod {width: 600px; height:300px; overflow:auto; border:2px solid #066; -moz-border-radius: 10px 10px 10px 10px ; -webkit-border-radius:10px 10px 10px 10px ; border-radius:10px 10px 10px 10px ; }
#unit {text-align:center; width: 150px;  border:1px dashed #069; float:left;}
#info {color:#3CC; font-family:Times New Roman, cursive; font-style: italic; font-size: 10pt; float:left;}
#info2 {color: #5F9EA0; font-family:Times New Roman, cursive; font-style: bold; font-size: 10pt; }